<!-- header -->

<div class="header">
  <div class="logo">
    <div class="innerlogo"><img src="../assets/images/logo-fish.png" alt=""></div>
</div>
  <div class=" navbar my-10 d-flex justify-content-between">
    <ul class="navbar-left d-flex font-4">
      <li>
        <a href="#" >About Me</a>
      </li>
      <li>
        <a href="#" >Last Activity</a>
      </li>
      <li>
        <a href="#" >Policy</a>
      </li>
   </ul>
      <ul class="navbar-right d-flex font-4">
      <li>
        <a href="#" >Donate</a>
      </li>
      <li>
        <a href="#" >Feedback</a>
      </li>
    </ul> 
    <ul class="social-media d-flex">
      <li><a href="http://www.facebook.com" target="_blank"><img src="../assets/images/facebook.png" alt="fb"></a></li>
      <li><a href="" target="_blank"><img src="../assets/images/instagram.png" alt="ig"></a></li>
      <li><a href="" target="_blank"><img src="../assets/images/youtube.png" alt="yt"></a></li>
      <li><a href="" target="_blank"><img src="../assets/images/line.png" alt="line"></a></li>
    </ul>
   
  </div>
</div>