
@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Jost:wght@700&family=Noto+Sans+TC:wght@400;700&family=Roboto&display=swap');

.header {
 z-index:99;
 background-color: #FFFFFF;
 border-bottom: 2px solid #EA7F1B;
 font-family: 'jost', sans-serif;
 font-weight: 700;
  a {
 color:#45280D;
 text-decoration: none;
  }
 }

.social-media {
  margin-right: 60px;
  li {
  padding-right: 20px;
   } 
}
.navbar-left {
  margin-left: 120px;
  li {
  padding-right: 80px;
   } 
}
.navbar-right {
  margin-left: 240px;
  li {
  padding-right: 80px;
   } 
}

/* LOGO */
.logo {
  margin-top: -20px;
  width:166px;
  height:166px;
  border-radius:99em;
  border:4px solid#EA7F1B;
  background-color: #FFFFFF;
  position: fixed;
  left:50%; 
  margin-left:-83px;
  z-index:100;
}
.innerlogo {
 margin: 32px 24px;
}
